<!DOCTYPE html>
<html>
<head>

<title>{block title}Photon, High Performance PHP &amp; Mongrel2 Framework{/block}</title>
<meta charset="utf-8">
<meta name="description" content="A high performance PHP framework using Mongrel2 and ZeroMQ.">
<link href="http://fonts.googleapis.com/css?family=Josefin+Sans:bold" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="{url 'photonweb_assets', 'css/merged.css'}" />


</head>
<body>

<div id="header">
<div class="container_12">
  <div class="grid_12" id="titlepage">
    {block titlepage}{/block}
  </div>
</div>
</div>


<div class="container_12" id="main">
  <div class="grid_10"><div class="wrapper">
{include 'tabs.html'}

{block body}{/block}</div>
  </div>
  <div class="grid_2">
{block sidebar}{include 'sidebar.html'}{/block}
  </div>
</div>

<div id="footer">
  <div class="container_12">
    <div class="grid_10 suffix_2">
      <p>©&nbsp;2014 <a href="{url 'photonweb_about'}">Céondo Ltd</a> and contributors.</p>
    </div>
  </div>
</div>

</body>
</html>
